.h1 {
    align-self: center;
}

#currentDay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lowUV {
    background-color: #558B2F;
}
.modUV {
    background-color: #F9A825;
}
.highUV {
    background-color: #EF6C00;
}
.vhighUV {
    background-color: #B71C1C;
}
.extrUV {
    background-color: #6A1B9A;
}
#currentDay {
    background-color: rgb(217, 211, 219);
}

.card {
    background-color: rgb(182, 148, 148);
    text-align: center;
    padding: 15px;
    font: 1.09em sans-serif;
    border-radius: 10%;
}

#cities {
    display: flex;
    flex-direction: column;
}

.citiesLi {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
}